<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%plugin.name"
            extensions="btm"
            icon="icons/byteman.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="jp.co.ntt.oss.jboss.byteman.editor.editor.BytemanRuleEditor"
            id="jp.co.ntt.oss.jboss.byteman.editor.editor.BytemanRuleEditor">
      </editor>
   </extension>
   <extension
         id="BytemanRuleMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="jp.co.ntt.oss.jboss.byteman.editor.preference.BytemanPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="jp.co.ntt.oss.jboss.byteman.editor.preference.BytemanPreferencePage"
            id="jp.co.ntt.oss.jboss.byteman.editor.preference.page"
            name="%plugin.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="jp.co.ntt.oss.jboss.byteman.editor.view.category1"
            name="%category.byteman">
      </category>
      <view
            category="jp.co.ntt.oss.jboss.byteman.editor.view.category1"
            class="jp.co.ntt.oss.jboss.byteman.editor.view.BytemanAgentView"
            icon="icons/byteman.gif"
            id="jp.co.ntt.oss.jboss.byteman.editor.view.agent"
            name="%view.agent"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="jp.co.ntt.oss.jboss.byteman.editor.action.category"
            name="%category.byteman">
      </category>
      <command
            categoryId="jp.co.ntt.oss.jboss.byteman.editor.action.category"
            defaultHandler="jp.co.ntt.oss.jboss.byteman.editor.action.ToggleCommentHandler"
            id="jp.co.ntt.oss.jboss.byteman.editor.action.ToggleCommentCommand"
            name="%command.toggleComment">
      </command>
      <command
            categoryId="jp.co.ntt.oss.jboss.byteman.editor.action.category"
            defaultHandler="jp.co.ntt.oss.jboss.byteman.editor.action.JumpToTargetHandler"
            id="jp.co.ntt.oss.jboss.byteman.editor.action.jump.JumpToTargetCommand"
            name="%command.jump">
      </command>
      <command
            defaultHandler="jp.co.ntt.oss.jboss.byteman.editor.action.annotation.CopyBMUnitAnnotationHandler"
            id="jp.co.ntt.oss.jboss.byteman.editor.command.annotation"
            name="%command.copyBMUnit">
      </command>
      <command
            defaultHandler="jp.co.ntt.oss.jboss.byteman.editor.action.template.CreateEntryHandler"
            id="jp.co.ntt.oss.jboss.byteman.editor.template.create.entry"
            name="%command.template.createEntry">
      </command>
      <command
            defaultHandler="jp.co.ntt.oss.jboss.byteman.editor.action.template.CreateExitHandler"
            id="jp.co.ntt.oss.jboss.byteman.editor.template.create.exit"
            name="%command.template.createExit">
      </command>
      <command
            defaultHandler="jp.co.ntt.oss.jboss.byteman.editor.action.template.CreateLineHandler"
            id="jp.co.ntt.oss.jboss.byteman.editor.template.create.line"
            name="%command.template.createLine">
      </command>
      <command
            defaultHandler="jp.co.ntt.oss.jboss.byteman.editor.action.template.CopyEntryHandler"
            id="jp.co.ntt.oss.jboss.byteman.editor.template.copy.entry"
            name="%command.template.copyEntry">
      </command>
      <command
            defaultHandler="jp.co.ntt.oss.jboss.byteman.editor.action.template.CopyExitHandler"
            id="jp.co.ntt.oss.jboss.byteman.editor.template.copy.exit"
            name="%command.template.copyExit">
      </command>
      <command
            defaultHandler="jp.co.ntt.oss.jboss.byteman.editor.action.template.CopyLineHandler"
            id="jp.co.ntt.oss.jboss.byteman.editor.template.copy.line"
            name="%command.template.copyLine">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="jp.co.ntt.oss.jboss.byteman.editor.action.ToggleCommentCommand"
            contextId="jp.co.ntt.oss.jboss.byteman.editor.context1"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+/">
      </key>
      <key
            commandId="jp.co.ntt.oss.jboss.byteman.editor.action.jump.JumpToTargetCommand"
            contextId="jp.co.ntt.oss.jboss.byteman.editor.context1"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="jp.co.ntt.oss.jboss.byteman.editor.context1"
            name="%plugin.name"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:#BytemanRuleEditorContext?after=additions">
         <menu
               icon="icons/byteman.gif"
               label="%category.byteman">
            <command
                  commandId="jp.co.ntt.oss.jboss.byteman.editor.action.jump.JumpToTargetCommand"
                  id="jp.co.ntt.oss.jboss.byteman.editor.menu.jump"
                  label="%menu.jump"
                  style="push">
            </command>
            <command
                  commandId="jp.co.ntt.oss.jboss.byteman.editor.action.ToggleCommentCommand"
                  label="%menu.toggleComment"
                  style="push">
            </command>
            <menu
                  label="%menu.installRule">
               <dynamic
                     class="jp.co.ntt.oss.jboss.byteman.editor.action.InstallRuleActionItems"
                     id="jp.co.ntt.oss.jboss.byteman.editor.dynamic.installRule">
               </dynamic>
            </menu>
            <command
                  commandId="jp.co.ntt.oss.jboss.byteman.editor.command.annotation"
                  label="%menu.copyBMUnit"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/byteman.gif"
               label="%category.byteman">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="btm">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
            <menu
                  label="%menu.installRule">
               <visibleWhen
                     checkEnabled="false">
                  <count
                        value="1">
                  </count>
               </visibleWhen>
               <dynamic
                     class="jp.co.ntt.oss.jboss.byteman.editor.action.InstallRuleActionItems"
                     id="jp.co.ntt.oss.jboss.byteman.editor.dynamic2">
               </dynamic>
            </menu>
            <command
                  commandId="jp.co.ntt.oss.jboss.byteman.editor.command.annotation"
                  label="%menu.copyBMUnit"
                  style="push">
            </command>
         </menu>
         <menu
               icon="icons/byteman.gif"
               label="%category.byteman">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <adapt
                                 type="org.eclipse.jdt.core.IMethod">
                           </adapt>
                           <adapt
                                 type="org.eclipse.jdt.core.IInitializer">
                           </adapt>
                        </or>
                     </iterate>
                  </with>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
            <menu
                  label="%menu.createRule">
               <command
                     commandId="jp.co.ntt.oss.jboss.byteman.editor.template.create.entry"
                     label="%menu.atEntry"
                     style="push">
               </command>
               <command
                     commandId="jp.co.ntt.oss.jboss.byteman.editor.template.create.exit"
                     label="%menu.atExit"
                     style="push">
               </command>
            </menu>
            <menu
                  label="%menu.copyRule">
               <command
                     commandId="jp.co.ntt.oss.jboss.byteman.editor.template.copy.entry"
                     label="%menu.atEntry"
                     style="push">
               </command>
               <command
                     commandId="jp.co.ntt.oss.jboss.byteman.editor.template.copy.exit"
                     label="%menu.atExit"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#CompilationUnitEditorContext?after=additions">
         <menu
               icon="icons/byteman.gif"
               label="%category.byteman">
            <menu
                  label="%menu.createRule">
               <command
                     commandId="jp.co.ntt.oss.jboss.byteman.editor.template.create.entry"
                     label="%menu.atEntry"
                     style="push">
               </command>
               <command
                     commandId="jp.co.ntt.oss.jboss.byteman.editor.template.create.exit"
                     label="%menu.atExit"
                     style="push">
               </command>
               <command
                     commandId="jp.co.ntt.oss.jboss.byteman.editor.template.create.line"
                     label="%menu.atLine"
                     style="push">
               </command>
            </menu>
            <menu
                  label="%menu.copyRule">
               <command
                     commandId="jp.co.ntt.oss.jboss.byteman.editor.template.copy.entry"
                     label="%menu.atEntry"
                     style="push">
               </command>
               <command
                     commandId="jp.co.ntt.oss.jboss.byteman.editor.template.copy.exit"
                     label="%menu.atExit"
                     style="push">
               </command>
               <command
                     commandId="jp.co.ntt.oss.jboss.byteman.editor.template.copy.line"
                     label="%menu.atLine"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="BytemanEditorPluginNature"
         name="%plugin.nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="jp.co.ntt.oss.jboss.byteman.editor.BytemanEditorPluginNature">
         </run>
      </runtime>
      <builder
            id="jp.co.ntt.oss.jboss.byteman.editor.BytemanEditorPluginBuilder">
      </builder>
   </extension>
   <extension
         id="BytemanEditorPluginBuilder"
         name="%plugin.builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="jp.co.ntt.oss.jboss.byteman.editor.BytemanEditorPluginBuilder">
         </run>
      </builder>
   </extension>
</plugin>
